#textdomain wesnoth-my_first_campaign

#define MY_FIRST_SCENARIO
    id=my_first_scenario
    next_scenario=null
    name= _ "My First Scenario"
    map_data="{~add-ons/my_first_campaign/maps/my_first_map.map}"
    turns=-1

    {DEFAULT_SIDES}

    [event]
        name=prestart

        {INIT_MENUS}
    [/event]
    [objectives]
    [/objectives]
#enddef

[multiplayer]
    {MY_FIRST_SCENARIO}
[/multiplayer]

[scenario]
    {MY_FIRST_SCENARIO}
[/scenario]
