#textdomain wesnoth-my_first_campaign

#define TC_BIGMAP STAGE
    [story]
        [part]
            show_title=yes
            [background_layer]
                image=maps/background.jpg
                scale_vertically=yes
                scale_horizontally=no
                keep_aspect_ratio=yes
            [/background_layer]
            [background_layer]
                image=maps/tc.png
                scale_vertically=yes
                scale_horizontally=no
                keep_aspect_ratio=yes
                base_layer=yes
            [/background_layer]
            {STAGE}
        [/part]
    [/story]
#enddef

#define JOURNEY_INTRO
    {OLD_REST 600 580}
    {NEW_JOURNEY 581 583}
    {NEW_JOURNEY 563 586}
    {NEW_JOURNEY 547 593}
    {NEW_JOURNEY 530 599}
    {NEW_JOURNEY 515 609}
    {NEW_JOURNEY 502 621}
    {NEW_REST 480 616}
#enddef

#define JOURNEY_INTRO_OLD
    {OLD_REST 600 580}
    {OLD_JOURNEY 581 583}
    {OLD_JOURNEY 563 586}
    {OLD_JOURNEY 547 593}
    {OLD_JOURNEY 530 599}
    {OLD_JOURNEY 515 609}
    {OLD_JOURNEY 502 621}
    {OLD_REST 480 616}
#enddef

#define JOURNEY_STRONGHOLD
    {JOURNEY_INTRO_OLD}
    {NEW_JOURNEY 488 628}
    {NEW_JOURNEY 495 637}
    {NEW_JOURNEY 504 644}
    {NEW_JOURNEY 516 649}
    {NEW_JOURNEY 528 650}
    {NEW_JOURNEY 540 650}
    {NEW_JOURNEY 551 653}
    {NEW_JOURNEY 561 660}
    {NEW_JOURNEY 568 670}
    {NEW_JOURNEY 573 681}
    {NEW_BATTLE 574 699}
#enddef